/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #2D353BFF;
    background-alt: #3C474DFF;
    foreground:     #D3C6AAFF;
    selected:       #A7C080FF;
    active:         #A7C080FF;
    urgent:         #E67E80FF;
    border:         #A7C080FF;
}
