* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 0;
    border-color: black;
	text-decoration-color: #C2C2C2;
    color: #C2C2C2;
	background-color: #333333;
	border-style: solid;
	border-width: 1px;
  font-size:1rem;
  padding:6rem;
}

button:focus, button:active, button:hover {
	background-color: #545454;
	outline-style: none;
}

#lock {
}


#suspend {
}


#shutdown {
}

#reboot {
}
